services:
  mongo:
    image: mongo:7
    container_name: slotswapper-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: slotswapper-backend
    restart: unless-stopped
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/slotswapper
      - JWT_SECRET=supersecretchangeme
      - CORS_ORIGIN=http://localhost:5173
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    volumes:
      - ./backend:/app

volumes:
  mongo_data:
